footer {
	z-index: 2;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: flex-start;
	width: 100%;
	padding: 2rem 0;
	background-color: var(--black-color);

	.info {
		box-sizing: border-box;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
		gap: 2rem;
		width: min(1200px, 100%);
		padding: 0 2rem;
		margin: 0 auto;

		.impressum,
		.contact {
			grid-column: span 2;
		}

		.impressum,
		.contact,
		.web,
		.documents,
		.community {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			font-weight: 300;
			color: var(--bright-gray-color);

			& > *:first-child {
				font-weight: 600;
				color: var(--white-color);
			}

			@media (hover: hover) and (pointer: fine) {
				a:hover:not(:active) {
					color: var(--white-color);
				}
			}
		}

		.contact {
			@media (width >= 428px) {
				grid-row: 2;
				grid-column: 1 2;
			}
		}

		.community {
			.community__media {
				display: flex;
				gap: 0.5rem;
				align-items: center;

				svg {
					width: 17px;
					min-width: 17px;
					overflow: visible;
					color: var(--bright-gray-color);
					transition: all 0.3s ease;
				}
			}

			@media (hover: hover) and (pointer: fine) {
				a:hover:not(:active) {
					svg {
						color: var(--white-color);
					}
				}
			}
		}
	}

	& > span {
		position: relative;
		margin: 0 auto;
		overflow: hidden;
		font-family: "Cal Sans", sans-serif;
		font-size: 13cqw;
		color: var(--black-color);
		text-align: center;
		text-transform: uppercase;
		cursor: pointer;
		-webkit-user-select: none;
		user-select: none;

		&::before {
			position: absolute;
			top: 0;
			left: 50%;
			color: var(--white-color);
			white-space: nowrap;
			content: "Taekwon-do";
			transform: translateX(-50%);
			transition: all 0.3s ease;
		}

		&::after {
			position: absolute;
			bottom: calc(-100% - 1px);
			left: 50%;
			color: var(--white-color);
			white-space: nowrap;
			content: "Zpět nahoru";
			transform: translateX(-50%);
			transition: all 0.3s ease;
		}

		@media (width >= 1024px) {
			font-size: 11cqw;
		}

		@media (hover: hover) and (pointer: fine) {
			&:hover:not(:active) {
				&::before {
					top: -100%;
				}

				&::after {
					bottom: 0;
				}
			}
		}
	}

	& > p {
		max-width: calc(100% - 4rem);
		margin: 0 auto;
		font-weight: 300;
		color: var(--bright-gray-color);
		text-align: center;
	}
}
