@import "./index.css";

img {
	position: fixed;
	z-index: 0;
	pointer-events: none;
	position: fixed;
	top: 0;
	left: 0;
	background-image: url("../assets/images/red-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100vw;
	height: 100vh;
	filter: blur(10px);
	transform: scale(1.05);
}

main {
	z-index: 1;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;

	@media (width >= 480px) {
		padding: 4rem;
	}

	form {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		max-width: 480px;
		background-color: var(--white-color);
		padding: 2rem;

		@media (width >= 480px) {
			border-radius: 40px;
		}

		.reg__step {
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 1000px;

			.action-btns {
				display: flex;
				justify-self: flex-end;
				justify-content: space-between;
				align-items: center;
				width: 100%;

				& > *:first-child {
					font-size: var(--tiny-font-size);
					font-weight: 500;
					color: var(--black-color);
					background-color: var(--white-color);
					border: none;
					box-shadow: inset 0 0 0 2px var(--black-color);
					padding: 0.5rem 1rem;
					border-radius: 10px;
					transition: all 0.3s ease;

					&:hover {
						color: var(--white-color);
						background-color: var(--black-color);
					}
				}

				& > *:last-child {
					font-size: var(--tiny-font-size);
					color: var(--white-color);
					background-color: var(--red-color);
					border: none;
					padding: 0.5rem 1rem;
					border-radius: 10px;
					font-weight: 500;
					transition: all 0.3s ease;

					&:hover {
						background-color: var(--light-red-color);
					}
				}
			}
		}
	}
}
