@import "./index.css";

img {
	position: fixed;
	z-index: 0;
	pointer-events: none;
	position: fixed;
	top: 0;
	left: 0;
	background-image: url("../assets/images/red-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100vw;
	height: 100vh;
	filter: blur(10px);
	transform: scale(1.05);
}

main {
	z-index: 1;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;

	@media (width >= 480px) {
		padding: 4rem;
	}

	#reg {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
		width: 100%;
		max-width: 480px;
		background-color: var(--white-color);
		padding: 2rem;

		@media (width >= 480px) {
			border-radius: 40px;
		}

		@media (width >= 1024px) {
			h1 {
				font-size: var(--huge-font-size);
			}
		}

		.reg__step {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			min-height: 100vh;

			.stepper {
				width: 100%;
				display: flex;
				align-items: center;
				margin-bottom: 3rem;

				.stepper__item {
					z-index: 1;
					display: flex;
					flex-direction: column;
					gap: 1rem;
					align-items: center;

					.stepper__circle {
						font-size: var(--large-font-size);
						color: var(--black-color);
						display: flex;
						justify-content: center;
						align-items: center;
						width: 50px;
						height: 50px;
						background-color: var(--bright-gray-color);
						border-radius: var(--round-border-radius);
						-webkit-user-select: none;
						user-select: none;
					}

					.stepper__label {
						color: var(--black-color);
						font-size: var(--tiny-font-size);
					}
				}

				.stepper__line {
					width: 100%;
					height: 5px;
					background-color: var(--bright-gray-color);
					transform: scaleX(1.6) translateY(-15px);
				}

				.stepper__line-dark {
					width: 100%;
					height: 5px;
					transform: scaleX(1.3) translateY(-15px);
					background-color: var(--black-color);
				}

				.active {
					.stepper__circle {
						background-color: var(--red-color);
						color: var(--white-color);
					}

					.stepper__label {
						color: var(--red-color);
					}
				}

				.completed {
					.stepper__circle {
						background-color: var(--black-color);
						color: var(--white-color);
					}

					.stepper__label {
						color: var(--black-color);
					}
				}
			}

			fieldset {
				display: flex;
				flex-direction: column;
				padding: 0;
				border: none;
				margin-top: 1rem;

				legend {
					width: 100%;
					display: flex;
					align-items: flex-start;
					flex-direction: column;
					gap: 0.75rem;
					margin-bottom: 1.5rem;

					b {
						color: var(--black-color);
						font-weight: 600;
						overflow-wrap: anywhere;
					}

					.line {
						width: 100%;
						height: 2px;
						background-color: var(--bright-gray-color);
					}

					p {
						color: var(--gray-color);
						margin: 0;
					}
				}

				& > div {
					display: flex;
					flex-direction: column;
					gap: 0.5rem;
					margin-bottom: 1.5rem;

					input {
						outline: none;
						border: 2px solid var(--bright-gray-color);
						background-color: var(--white-color);
						padding: 0.75rem;
						border-radius: 10px;
						color: var(--black-color);
						caret-color: var(--black-color);
						transition: border-color 0.1s ease;

						&:disabled {
							color: var(--gray-color);
						}

						&:focus {
							border-color: var(--gray-color);

							&:valid {
								border-color: var(--green-color);
							}

							&:not(:required) {
								border-color: var(--gray-color);
							}
						}

						&:user-invalid {
							border-color: var(--red-color);
						}

					}

					label {
						display: inline-block;
						color: var(--black-color);

						span {
							color: var(--red-color);
						}
					}

					select {
						width: 100%;
						max-width: 100%;
						outline: none;
						border: 2px solid var(--bright-gray-color);
						background-color: var(--white-color);
						padding: 0.75rem;
						border-radius: 10px;
						color: var(--black-color);
						transition: border-color 0.1s ease;

						&:focus {
							border-color: var(--gray-color);
						}

						option {
							background-color: var(--white-color);
							color: var(--black-color);
						}
					}

					textarea {
						resize: vertical;
						outline: none;
						border: 2px solid var(--bright-gray-color);
						background-color: var(--white-color);
						padding: 0.75rem;
						border-radius: 10px;
						color: var(--black-color);
						caret-color: var(--black-color);
						transition: border-color 0.1s ease;

						&:disabled {
							color: var(--gray-color);
						}

						&:focus {
							border-color: var(--gray-color);
						}
					}
				}
			}

			.terms {
				display: flex;
				align-items: flex-start;
				gap: 0.5rem;
				margin-bottom: 3rem;

				input {
					margin-top: 0.2rem;
					cursor: pointer;
					accent-color: var(--red-color);
					width: 18px;
					min-width: 18px;
					height: 18px;
					border-color: var(--bright-gray-color);
				}

				a {
					color: var(--red-color);
				}
			}

			.preview {
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 1.5rem;
				border-radius: 25px;
				background-color: var(--black-color);
				color: var(--white-color);
				font-size: var(--tiny-font-size);
				font-weight: 500;
				gap: 1.5rem;
				margin-bottom: 3rem;

				@media (width >= 480px) {
					padding: 2rem;
				}

				.preview__title {
					margin-bottom: 0.5rem;
				}

				.preview__row {
					display: flex;
					width: 100%;
					justify-content: space-between;
				}
			}

			#qr-container {
				background-color: var(--black-color);
				border-radius: 25px;
				padding: 0.75rem;
				margin: 1rem 0;
			}

			.details {
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				padding: 1.5rem;
				border-radius: 25px;
				background-color: var(--black-color);
				color: var(--white-color);
				font-size: var(--tiny-font-size);
				gap: 0.5rem;
				margin: 1rem 0;
				
				b {
					color: var(--white-color);
				}

				.details__value {
					display: flex;
					align-items: center;
					gap: 0.5rem;
					margin-bottom: 1rem;

					span {
						overflow-wrap: anywhere
					}

					button {
						outline: none;
						border: none;
						background-color: transparent;

						svg {
							color: var(--white-color);
							cursor: pointer;
							height: 17px;
							min-height: 17px;
							max-width: 17px;
							transition: all 0.3s ease;

							&:hover:not(:active) {
								transform: scale(1.1);
							}
						}
					}
					
				}
			}

			.proof {
				margin-bottom: 3rem;

				input {
					display: none;
				}

				label {
					cursor: pointer;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					background-color: var(--bright-gray-color);
					color: var(--gray-color);
					gap: 1rem;
					padding: 1.5rem;
					border-radius: 25px;
					border: 3px dashed var(--middle-gray-color);
					transition: all 0.3s ease;

					&:hover {
						background-color: var(--white-color);

						svg {
							opacity: 1;
							color: var(--red-color);
						}
					}

					svg {
						width: 50px;
						color: var(--gray-color);
						opacity: 0.5;
						transition: all 0.3s ease;
					}

					button {
						outline: none;
						border: none;
						box-shadow: inset 0 0 0 2px var(--red-color);
						padding: 0.5rem 1rem;
						border-radius: 10px;
						background-color: var(--white-color);
						color: var(--red-color);
						font-size: var(--tiny-font-size);
						font-weight: 500;
					}
				}
			}

			.success {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 1rem;
				margin-bottom: 2rem;

				svg {
					width: 50px;
					min-width: 50px;
					color: var(--red-color);
				}

				b {
					font-size: var(--small-font-size);
					font-weight: 500;
				}
			}

			.close-note {
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;
				padding: 2rem;
				border-radius: 25px;
				background-color: var(--black-color);
				color: var(--white-color);
				font-size: var(--tiny-font-size);
				gap: 1.5rem;
				margin-top: 1rem;
				margin-bottom: 3rem;

				svg {
					width: 50px;
					min-width: 50px;
				}

				b {
					font-weight: 500;
				}
			}

			.action-btns {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;

				& > *:first-child {
					font-size: var(--tiny-font-size);
					font-weight: 500;
					color: var(--black-color);
					background-color: var(--white-color);
					border: none;
					box-shadow: inset 0 0 0 2px var(--black-color);
					padding: 0.5rem 1rem;
					border-radius: 10px;
					transition: all 0.3s ease;

					&:hover {
						color: var(--white-color);
						background-color: var(--black-color);
					}
				}

				& > *:last-child {
					font-size: var(--tiny-font-size);
					color: var(--white-color);
					background-color: var(--red-color);
					border: none;
					padding: 0.5rem 1rem;
					border-radius: 10px;
					font-weight: 500;
					transition: all 0.3s ease;

					&:hover {
						background-color: var(--light-red-color);
					}
				}
			}

			.cf-turnstile {
				margin: 1rem 0;
				transform: scale(0.87) translateX(-17px);

				@media (width >= 360px) {
					transform: scale(1);
				}
			}
		}

		#step-2,
		#step-3 {
			display: none;
		}

		#step-3 {
			.action-btns {
				justify-content: center;

				a {
					box-shadow: none;
				}
			}
		}

		
		#honeypot {
			display: none !important;
		}
		
	}
}
