header {
	position: sticky;
	top: 0;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: var(--small-font-size) 0;
	background-color: var(--poor-white-color);
	transition: padding 0.2s ease;

	.logo {
		display: flex;
		gap: var(--tiny-font-size);
		align-items: center;
		margin-left: var(--tiny-font-size);

		@media (width >= 480px) {
			margin-left: var(--large-font-size);
		}

		@media (width >= 1024px) {
			margin-left: var(--huge-font-size);
		}

		svg {
			width: 37px;
			min-width: 37px;

			@media (width >= 1024px) {
				width: 45px;
				min-width: 45px;
				overflow: visible;
			}
		}

		span {
			display: none;
			font-family: "Cal Sans", sans-serif;
			font-size: var(--medium-font-size);
			color: var(--black-color);

			@media (width >= 480px) {
				display: inline;
			}

			@media (width >= 768px) {
				font-size: var(--large-font-size);
			}

			@media (width >= 1024px) {
				font-size: var(--huge-font-size);
			}
		}
	}

	nav {
		display: none;

		@media (width >= 768px) {
			display: block;
		}

		ul {
			display: flex;
			gap: 1.5rem;
			list-style: none;

			@media (width >= 1024px) {
				gap: 3rem;
			}

			@media (width >= 1280px) {
				gap: 5rem;
			}

			li {
				a {
					position: relative;
					display: inline-block;
					overflow: hidden;
					font-family: "Funnel Display", sans-serif;
					font-size: var(--tiny-font-size);
					color: var(--gray-color);
					transition: all 0.2s ease;

					&::before {
						position: absolute;
						bottom: 0;
						left: -100%;
						width: 100%;
						height: 1px;
						content: "";
						background-color: var(--gray-color);
						transition: all 0.2s ease;
					}

					@media (hover: hover) and (pointer: fine) {
						&:hover:not(:active) {
							color: var(--black-color);

							&::before {
								left: 0;
								background-color: var(--black-color);
							}
						}
					}
				}
			}
		}
	}

	& > a:nth-last-of-type(1) {
		position: relative;
		padding: 0.5rem 1.25rem;
		overflow: hidden;
		font-family: "Funnel Display", sans-serif;
		font-size: var(--small-font-size);
		font-weight: 600;
		color: var(--white-color);
		background-color: var(--red-color);
		border-radius: var(--round-border-radius);
		box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.15);
		transition: all 0.2s ease;

		&::after {
			position: absolute;
			bottom: -50%;
			left: 0;
			width: 100%;
			height: 50%;
			content: "";
			background-color: var(--light-red-color);
			border-radius: 100%;
			filter: blur(7px);
			transition: all 0.2s ease;
		}

		@media (width >= 768px) {
			margin-right: var(--large-font-size);
		}

		@media (width >= 1024px) {
			padding: 0.75rem 2rem;
			margin-right: var(--huge-font-size);
		}

		@media (hover: hover) and (pointer: fine) {
			&:hover:not(:active) {
				box-shadow: none;
				transform: scale(0.98) translateY(1px);

				&::after {
					bottom: -15px;
				}
			}
		}

		&:active {
			box-shadow: none;
			transform: scale(0.98) translateY(1px);

			&::after {
				bottom: -15px;
			}
		}
	}

	.burger {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0.75rem;
		margin-right: var(--tiny-font-size);
		cursor: pointer;
		background-color: var(--black-color);
		border: none;
		border-radius: 100%;

		&.is-active {
			rect {
				&:nth-child(2) {
					transform: rotate(45deg) translate(2px, -2px);
				}

				&:nth-child(3) {
					opacity: 0;
				}

				&:nth-child(4) {
					transform: rotate(-45deg) translate(-5px, -1px);
				}
			}
		}

		@media (width >= 480px) {
			margin-right: var(--large-font-size);
		}

		@media (width >= 768px) {
			display: none;
		}

		svg {
			width: var(--small-font-size);
			overflow: visible;
			color: var(--white-color);

			rect {
				transition: all 0.2s ease;
			}
		}
	}

	&.header__expanded {
		flex-wrap: wrap;
		padding-bottom: calc(var(--small-font-size) + 0.5rem);
		border-radius: 0 0 25px 25px;

		nav {
			display: block;
			order: 3;
			width: 100%;
			padding-top: 2rem;

			ul {
				flex-direction: column;
				gap: 2rem;
				align-items: center;
			}
		}
	}
}
