@import "./index.css";
@import "./animations.css";
@import "./header.css";
@import "./footer.css";

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 90vh;

	@media (width >= 1024px) {
		gap: 0.5rem;
	}

	svg {
		width: clamp(75px, 12cqw, 100px);
		margin-bottom: 1rem;
		color: var(--red-color);
	}

	h1 {
		color: var(--black-color);
	}

	& > a {
		position: relative;
		padding: 0.5rem 1.5rem;
		margin-top: 0.5rem;
		overflow: hidden;
		font-family: "Cal Sans", sans-serif;
		font-size: var(--small-font-size);
		color: var(--white-color);
		background-color: var(--red-color);
		border-radius: var(--round-border-radius);
		box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.15);
		transition: all 0.2s ease;

		&::after {
			position: absolute;
			bottom: -50%;
			left: 0;
			width: 100%;
			height: 50%;
			content: "";
			background-color: var(--light-red-color);
			border-radius: 100%;
			filter: blur(7px);
			transition: all 0.2s ease;
		}

		@media (width >= 1024px) {
			padding: 0.75rem 2rem;
			font-size: var(--medium-font-size);
		}

		@media (hover: hover) and (pointer: fine) {
			&:hover:not(:active) {
				box-shadow: none;
				transform: scale(0.98) translateY(1px);

				&::after {
					bottom: -20px;
				}
			}
		}

		&:active {
			box-shadow: none;
			transform: scale(0.98) translateY(1px);

			&::after {
				bottom: -20px;
			}
		}
	}

	p {
		max-width: 350px;
		padding: 0 1rem;
		font-size: var(--small-font-size);
		color: var(--black-color);
		text-align: center;

		a {
			color: var(--red-color);
		}
	}
}
